.carousel-container {
    position: relative;
    overflow: hidden;
    border: 1px solid #e2e8f0;
    border-radius: 24px;
    padding: 16px;
    --outer-r: 24px;
    --p-distance: 12px;
    background: white;
    margin: 0 auto;
}

.carousel-track {
    display: flex;
}

.carousel-item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #e2e8f0;
    border-radius: calc(var(--outer-r) - var(--p-distance));
    background-color: #f8fafc;
    overflow: hidden;
    cursor: grab;
    min-height: 250px;
}

.carousel-item:active {
    cursor: grabbing;
}

.carousel-container.round {
    border: 1px solid #e2e8f0;
}

.carousel-item.round {
    background-color: #f8fafc;
    position: relative;
    bottom: 0.1em;
    border: 1px solid #e2e8f0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-item-header.round {
    padding: 0;
    margin: 0;
}

.carousel-indicators-container.round {
    position: absolute;
    z-index: 2;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicator.active {
    background-color: #2582a1;
}

.carousel-indicator.inactive {
    background-color: #cbd5e1;
}

.carousel-item-header {
    margin-bottom: 16px;
    padding: 20px;
    padding-top: 20px;
}

.carousel-icon-container {
    display: flex;
    height: 28px;
    width: 28px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-icon {
    height: 16px;
    width: 16px;
    color: #2582a1;
}

.carousel-item-content {
    padding: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.carousel-item-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    color: #0f172a;
}

.carousel-item-description {
    font-size: 14px;
    color: #475569;
    font-style: italic;
    margin-bottom: 10px;
}

.carousel-item-meta {
    font-size: 12px;
    color: #64748b;
    font-weight: 600;
    text-transform: uppercase;
}

.carousel-indicators-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.carousel-indicators {
    margin-top: 16px;
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 0 32px;
}

.carousel-indicator {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 150ms;
}